.contenedor {
    border: 5px solid grey;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
}

.item{
    border: 5px solid aqua;
    font-size:  2rem;
}
